.container {
    display: flex;
    flex-direction: column;    
}

.upper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.text {
    font-weight: bold
}

.title {
    text-align: center;
    font-size: large
}

.bottom {
    margin-top: 15px
}